<div class="container">
    <form [formGroup]="stockForm">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" formControlName="quantity">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Monto</mat-label>
                    <input matInput type="number" formControlName="mount">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button (click)="editStock()">Editar</button>
            </div>
        </div>
    </form>
</div>