<div class="container">
    <h1 class="text-center my-2">Dashboard</h1>
    @if (!showProgressSpinner) {
    <div class="row">
        <div class="col my-2" style="min-width: 300px;">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center">
                            <span>Inversion total</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span style="font-size: xx-large;">{{totalMount}} $</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col my-2" style="min-width: 300px;">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center">
                            <span>Plusvalia</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span style="font-size: xx-large;">{{totalCapitalGain}} $</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col my-2" style="min-width: 300px;">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center">
                            <span>Plusvalia en porcentaje</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span style="font-size: xx-large;">{{totalCapitalGainPercentage}} %</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="overflow-y: auto;">
        <app-dashboard-table [stocksUnderAnalysis]="stocksUnderAnalysis"></app-dashboard-table>
    </div>
    } @else {
    <div class="d-flex justify-content-center">
        <app-progress-spinner [show]="showProgressSpinner"></app-progress-spinner>
    </div>
    }
</div>