.capitalGainPlus {
    color: green; 
    font-weight: bold;
}

.capitalGainMinus {
    color: red; 
    font-weight: bold;
}

.capitalGainZero {
    color: rgb(77, 77, 77); 
    font-weight: bold;
}

.capitalGainPercentagePlus {
    color: green; 
    background-color: rgb(216, 255, 216);
    padding: 8px;
    border-radius: 5px;
}

.capitalGainPercentageMinus {
    color: red; 
    background-color: rgb(255, 209, 209);
    padding: 8px;
    border-radius: 5px;
}

.capitalGainPercentageZero {
    color: rgb(77, 77, 77); 
    background-color: rgb(220, 220, 220);
    padding: 8px;
    border-radius: 5px;
}
